@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

*{
    margin:0px;
}
body{
     background: rgb(250,203,234);
    /*background: linear-gradient(90deg, rgba(250,203,234,1) 0%, rgba(217,136,185,1) 50%, rgba(217,136,185,1) 100%); */
}
.navbar{
    padding:25px;
    display: flex;
    background-color: #BFEAF5;
    justify-content: space-around;
}

.links{
 
    padding:20px;
    margin:10px;

}
.links a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin:30px;
    padding: 10px;
    text-transform: uppercase;
}
.links a:hover{
    background-color:#D2DAFF;
    color:black;
}
.heading
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding:10px;
}

form{
    display:grid;
    /* margin:30px; */
    position: relative;
    left:450px;
    top:50px;
    width:330px;
   
    
}
form input, textarea{
    margin:10px;
    padding:20px;
    width:500px;
    border:1px solid #000;
    border-radius:10px ;
    font-size: 15px;
    /* background-color: #000; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
form textarea:hover,input:hover{
    border:2px solid brown
}
form b{
    text-align: center;
    font-size:35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-shadow: #BFEAF5;
    
}

button{
    margin:10px;
    padding:10px;
    position: relative;
    left:100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    width:150px;
    border-radius: 5px;
    
}
button:hover{
    background-color: grey;
    color: #000;

}

footer{
    /* border:2px solid black; */
    padding:10px;
    margin-top:100px;
    display: flex;
    height: 200px;
    background-color:#176B87;

}
footer .left,.middle,.right{
    position: relative;
    padding:20px;
    margin:20px;
    width:33%;
    text-align: center;
    border:1px solid black;
    background-color: #BFEAF5;

    
}
footer .left{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: large;
}
footer .middle{
   display : grid;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: large;
}
footer .middle a{
    text-decoration: none;
    color: #000;
    
}

footer .right i{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 25px;
 

} 
footer .right b {
    font-size: large;
    display : grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}